<p-toast></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<div class="service">
    <div class="container">
        <button pButton pRipple type="button" label="All Orders" class="p-button-primary ml-1" icon="pi pi-search" (click)="Change_mode_0()"></button>
        <button pButton pRipple type="button" label="Completed Orders" class="p-button-success ml-1" icon="pi pi-thumbs-up" (click)="Change_mode_1()"></button>
        <button pButton pRipple type="button" label="InCompleted Orders" class="p-button-danger ml-1" icon="pi pi-thumbs-down" (click)="Change_mode_2()"></button>
        <br><br>
    </div>
<br><br>
<div  *ngIf="data; else elseblock">
    <div class="mode0" *ngIf="mode===0">
        <p-table [value]="data" responsiveLayout="scroll">
            <ng-template pTemplate="caption">
                <div class="p-d-flex p-ai-center p-jc-between">
                    Services
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Order Status</th>
                    <th>Is completed</th>
                    <th>total_amount</th>
                    <th>date</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-Order>
                <tr>
                    <td>{{Order.Order_Status}}</td>
                    <td *ngIf="Order.Iscompleted">
                        <p-tag styleClass="p-mr-2" icon="pi pi-check" severity="success"></p-tag>
                    </td>
                    <td *ngIf="!Order.Iscompleted">
                        <p-tag styleClass="p-mr-2" icon="pi pi-times" severity="danger"></p-tag>
                    </td>
    
                    <td>{{Order.total_amount}}</td>
    
                    <td>{{Order.date | date}}</td>
    
                    <td>
                        <p-button label="See details" icon="pi pi-search" (click)="toseeDetails(Order._id)"></p-button>
                    </td>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    In total there are {{data ? data.length : 0 }} Appliance(s).
                </div>
            </ng-template>
        </p-table>
    </div>
    
    <div class="mode1" *ngIf="mode===1">
        <p-table [value]="data" responsiveLayout="scroll">
            <ng-template pTemplate="caption">
                <div class="p-d-flex p-ai-center p-jc-between">
                    Services
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Order Status</th>
                    <th>Is completed</th>
                    <th>total_amount</th>
                    <th>date</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-Order>
                <tr *ngIf="Order.Iscompleted">
                    <td>{{Order.Order_Status}}</td>
                    <td *ngIf="Order.Iscompleted">
                        <p-tag styleClass="p-mr-2" icon="pi pi-check" severity="success"></p-tag>
                    </td>
                    <td *ngIf="!Order.Iscompleted">
                        <p-tag styleClass="p-mr-2" icon="pi pi-times" severity="danger"></p-tag>
                    </td>
    
                    <td>{{Order.total_amount}}</td>
    
                    <td>{{Order.date | date}}</td>
    
                    <td>
                        <p-button label="See details" icon="pi pi-search" (click)="toseeDetails(Order._id)"></p-button>
                    </td>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    In total there are {{data ? data.length : 0 }} Appliance(s).
                </div>
            </ng-template>
        </p-table>
    </div>
    
    <div class="mode2" *ngIf="mode===2">
        <p-table [value]="data" responsiveLayout="scroll">
            <ng-template pTemplate="caption">
                <div class="p-d-flex p-ai-center p-jc-between">
                    Services
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Order Status</th>
                    <th>Is completed</th>
                    <th>total_amount</th>
                    <th>date</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-Order>
                <tr *ngIf="!Order.Iscompleted">
                    <td>{{Order.Order_Status}}</td>
                    <td *ngIf="Order.Iscompleted">
                        <p-tag styleClass="p-mr-2" icon="pi pi-check" severity="success"></p-tag>
                    </td>
                    <td *ngIf="!Order.Iscompleted">
                        <p-tag styleClass="p-mr-2" icon="pi pi-times" severity="danger"></p-tag>
                    </td>
    
                    <td>{{Order.total_amount}}</td>
    
                    <td>{{Order.date | date}}</td>
    
                    <td>
                        <p-button label="See details" icon="pi pi-search" (click)="toseeDetails(Order._id)"></p-button>
                    </td>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    In total there are {{data ? data.length : 0 }} Appliance(s).
                </div>
            </ng-template>
        </p-table>
    </div>
</div>
<ng-template #elseblock>
    <div class="spinner">
        <p-progressSpinner></p-progressSpinner>
    </div>
</ng-template>
</div>