.order {
    margin-top: 20px;
    padding: 30px;
    color: rgb(173, 168, 168);
  }
  .pd {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white ; 
    font-weight:200;
    font-size:24px;
  }
  
  .de{
    font-size: 20px;
    .det{
      font-weight: 500;
      width:80%;
      #data{
        font-weight:200;
        color:rgb(206, 204, 204);
        margin-left:5px;
      }
    }
  }
  .pd1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white ; 
    font-weight:200;
    font-size:22px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin-left: -40px;
    // margin-bottom: 15px;
  }
 
  h2{
    color:white;
    font-weight: 200;
  }