<p-toast></p-toast>
<div class="order p-card">
    <div class="personal-details">
        <h3 class="pd">Order Details</h3>
        <div class="grid de">
            <div class="col-4 det">date    :<span id="data">{{Orderdet.date | date}}</span></div>

            <div class="col-4 det">Order Status  : <span id="data"><p-dropdown [options]="status" [(ngModel)]="Order_Status" optionLabel="name" optionValue="code" (onChange)="getOS()"></p-dropdown></span></div>

            <div class="col-4 det">Completed :<span id="data"><p-inputSwitch [(ngModel)]="isCompleted" (onChange)="getOS()"></p-inputSwitch></span></div>

            
            <div class="col-4 det">Total Amount :<span id="data">{{Orderdet.total_amount/100| currency:'INR'}}</span></div>
            
            <div *ngIf="Orderdet.RazorpayOrder_id" class="col-4 det">Mode Of Payment :<span id="data">Online</span></div>
            <div *ngIf="!Orderdet.RazorpayOrder_id" class="col-4 det">Mode Of Payment :<span id="data">Offline</span></div>
            
            <div class="col-4 det">Is paid :<span id="data"><p-inputSwitch [(ngModel)]="isPaid" (onChange)="ChangeOrderPaymentStatus()"></p-inputSwitch></span></div>

            <div class="col-4 det">Total Amount :<span id="data">{{Orderdet.total_amount/100 | currency:"INR"}}</span></div>
            
        </div>
    </div>
    <div class="User-details">
        <h3 class="pd">User Details</h3>
        <div class="grid de">
            <div class="col-4 det">Name    :<span id="data">{{Orderdet.User?.Name}}</span></div>
    
            <div class="col-4 det">Email  : <span id="data">{{Orderdet.User?.Email}}</span></div>
    
            <div class="col-4 det">Phone no :<span id="data">{{Orderdet.User?.Phone_no}}</span></div>
    
            <div class="col-4 det">Gender :<span id="data">{{Orderdet.User?.Gender}}</span></div>
    
            <div class="col-4 det">Address :<span id="data">{{Orderdet.User?.Address}}</span></div>
            
            <div class="col-4 det">Registration Date :<span id="data">{{Orderdet.User?.date | date}}</span></div>
        </div>

    </div>
    
    <h2> Services Ordered</h2>
    <div class="Order-details">
        <h3 class="pd">Order History</h3>
        <div>
            <h4 *ngIf="serv.length===0"> No Order History</h4>
        </div>
        <p-table [value]="serv" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Price</th>
                    <th>For a appliance</th>
                    <th>Description</th>
                    <th>Assigned To</th>
                    <th>Is completed</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-service>
                <tr>
                    <td>{{service.Services.Service_name}}</td>
                    <td><img [src]= service.Services.Service_image [alt]="service.Services.Service_name" width="100" class="p-shadow-4" /></td>
                    <td>{{service.Services.Service_rate/100 | currency:'INR'}}</td>
                    
                    <td *ngIf="service.Services.Is_Service_appliance">
                        <p-tag styleClass="p-mr-2" icon="pi pi-check" severity="success"></p-tag>
                    </td>
                    <td *ngIf="!service.Services.Is_Service_appliance">
                        <p-tag styleClass="p-mr-2" icon="pi pi-times" severity="danger"></p-tag>
                    </td>
                    <td>
                        {{service.Services.Service_description}}
                    </td>
                    <td>
                        <div *ngIf="!service.isAssignedTo">
                            <button pButton pRipple type="button" label="Assign" (click)="showPositionDialog(service.Services._id,service._id)" class="p-button-raised p-button-text"></button>
                            <p-dialog header="Service Partner Details" [(visible)]="displayPosition" [position]="position" [modal]="true" [style]="{width: '50vw'}" [draggable]="false" [resizable]="true">
                                <div *ngFor="let data of servicePartner">
                                    <p-card>
                                        Name : {{data?.Name}}<br>
                                        Phone : {{data?.Phone_no}}<br>
                                        Address: {{data?.Address}}<br>
                                        <br>
                                        <button pButton pRipple type="button" label="Assign" class="p-button-raised p-button-warning p-button-text" (click)="assignTask(data?._id,data?.Speciality)"></button>

                                    </p-card>
                                </div>
                                <ng-template pTemplate="footer">
                                    <p-button icon="pi pi-check" (click)="displayPosition=false" label="Ok" styleClass="p-button-text"></p-button>
                                </ng-template>
                            </p-dialog>

                        </div>
                        <div *ngIf="service.isAssignedTo">
                                Name : {{service.isAssignedTo.Name}}<br>
                                Email : {{service.isAssignedTo.Email}}<br>
                                Phone Number : {{service.isAssignedTo.Phone_no}}<br>
                                Address : {{service.isAssignedTo.Address}}<br>
                                Gender : {{service.isAssignedTo.Gender}}<br>

                                <br>
                                <button pButton pRipple type="button" label="Re assign" (click)="showPositionDialog(service.Services._id,service._id)" class="p-button-raised p-button-text"></button>
                                <p-dialog header="Service Partner Details" [(visible)]="displayPosition" [position]="position" [modal]="true" [style]="{width: '50vw'}" [draggable]="false" [resizable]="true">
                                    <div *ngFor="let data of servicePartner">
                                        <p-card>
                                            Name : {{data?.Name}}<br>
                                            Phone : {{data?.Phone_no}}<br>
                                            Address: {{data?.Address}}<br>
                                            <br>
                                            <button pButton pRipple type="button" label="Assign" class="p-button-raised p-button-warning p-button-text" (click)="assignTask(data?._id,data?.Speciality)"></button>
    
                                        </p-card>
                                    </div>
                                    <ng-template pTemplate="footer">
                                        <p-button icon="pi pi-check" (click)="displayPosition=false" label="Ok" styleClass="p-button-text"></p-button>
                                    </ng-template>
                                </p-dialog>
                        </div>
                    </td>
                    
                        
                    <td *ngIf="service.iscompleted">
                        <p-tag styleClass="p-mr-2" icon="pi pi-check" severity="success"></p-tag>
                    </td>
                    <td *ngIf="!service.iscompleted">
                        <p-tag styleClass="p-mr-2" icon="pi pi-times" severity="danger"></p-tag>
                    </td>
                
                </tr>
            </ng-template>
        </p-table>
</div>