<p-toast></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<div class="service" *ngIf="data; else elseblock">
    <div class="container">
        <p-button label="New" icon="pi pi-plus" (click)="tonewBlog()"></p-button>
        <br><br>
    </div>
<br><br>
        <p-table [value]="data" responsiveLayout="scroll">
            <ng-template pTemplate="caption">
                <div class="p-d-flex p-ai-center p-jc-between">
                    Blogs
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Title</th>
                    <th>Image</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-blog>
                <tr>
                    <td>{{blog.Blog_title}}</td>
                    <td><img [src]= blog.Blog_image [alt]="blog.Blog_title" width="100" class="p-shadow-4" /></td>
                    <td>{{blog.Blog_description}}</td>
                    <td>
                        <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success p-button-text" (click)="editService(blog)"></button>
                        <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text" (click)="deletedata(blog._id)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    In total there are {{data ? data.length : 0 }} Blog(s).
                </div>
            </ng-template>
        </p-table>
</div>
<ng-template #elseblock>
    <div class="spinner">
        <p-progressSpinner></p-progressSpinner>
    </div>
</ng-template>