<header>    
    <p-toolbar>
        <div class="p-toolbar-group-left">
            <div class="logo">
                <p>LOGO</p>
            </div>
        </div>
        <div class="p-toolbar-group-right">
            <p-button icon="pi pi-user" class="ml-2"></p-button>
            <p-button icon="pi pi-star" class="ml-2" styleClass="p-button-danger"></p-button>
            <p-button icon="pi pi-shopping-cart" class="ml-2" styleClass="p-button-success"></p-button>
        </div>
    </p-toolbar>
</header>

