<p-toast></p-toast>
<div class="service">
    <div class="container">
        <div class="form">
            <form action="" [formGroup]="forms">
                <div class="grid">
                    <div class="col-6">
                        <span class="p-float-label">
                            <input id="float-input" type="text" formControlName="Blog_title" pInputText> 
                            <label for="float-input">Blog title</label>
                            <!-- <small *ngIf="forms.Service_name.invalid" class="p-error">Please enter a service name</small> -->
                        </span>
                    </div>
                    
                    <div class="col-6">
                        <input type="file" accept="image/*" class="p-inputtext" (change)="onImgup($event)"/>
                        <label for="fileUpload" id="lab" >Image</label>
                        <img [src]="img" id="img" alt=".">
                    </div>

                    <div class="col-6">
                        <span class="p-float-label">
                            <textarea id="float-input" formControlName="Blog_description" pInputTextarea class="adj"></textarea>
                            <label for="float-input">Discription</label>
                        </span>
                    </div>
                </div>
                <p-button label="Submit" (click)="submit()"></p-button>
            </form>
        </div>        
    </div>
</div>
