<div class="top" *ngIf="cat">
    <div class="image" *ngFor="let data of cat" >
        <img [src]="data.Service_image" [alt]="data.CategoryOfService" srcset="" (click)="showCategory(data._id)" *ngIf="data._id">
    </div>
</div>

<p-carousel [value]="Banner" styleClass="custom-carousel" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="2000" *ngIf="Banner" responsiveLayout="scroll">
    <ng-template pTemplate="header">
    </ng-template>
    <ng-template let-app pTemplate="item" class="padding">
        <div class="app" (click)="showservices(app._id)">
            <div class="image Banner">
                <img id="Banner" src="{{app.Banner_image}}" [alt]="app.Banner_title" class="product-image" />
            </div>
        </div>
    </ng-template>
</p-carousel>

<img src="assets/photos/banner.png" alt="banner" id="img">
<br>
<br>
<p-carousel [value]="app" class="screen" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true" *ngIf="app" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <h3>Appliances</h3>
    </ng-template>
    <ng-template let-app pTemplate="item" class="padding">
        <div class="app" (click)="showAppliance(app._id)">
            <div class="image">
                <img src="{{app.Appliances_image}}" [alt]="app.Appliances" class="product-image" />
            </div>
            <div class="name">
                {{app.Appliances}}
            </div>
            <div class="description">
                {{app.Appliances_description}}
            </div>
        </div>
    </ng-template>
</p-carousel>

<p-carousel [value]="cat" class="screen" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true" *ngIf="cat" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <h3>Category</h3>
    </ng-template>
    
    <ng-template let-app pTemplate="item" class="padding">
        <div class="app" (click)="showCategory(app._id)">
            <div class="image">
                <img src="{{app.Service_image}}" [alt]="app.CategoryOfService" class="product-image" />
            </div>
            <div class="name">
                {{app.CategoryOfService}}
            </div>
            <div class="description">
                {{app.Service_description}}
            </div>
        </div>
    </ng-template>
</p-carousel>

<p-carousel [value]="app" class="mobile" *ngIf="app">
    <ng-template pTemplate="header">
        <h5>Appliances</h5>
    </ng-template>
    
        <ng-template let-app pTemplate="item" class="padding">
            <div class="app" (click)="showAppliance(app._id)">
                <div class="image">
                    <img src="{{app.Appliances_image}}" [alt]="app.Appliances" class="product-image" />
                </div>
                <div class="name">
                    {{app.Appliances}}
                </div>
                <div class="description">
                    {{app.Appliances_description}}
                </div>
            </div>
        </ng-template>
    
</p-carousel>

<p-carousel [value]="cat" class="mobile" *ngIf="cat">
    <ng-template pTemplate="header">
        <h5>Category</h5>
    </ng-template>
    
        <ng-template let-app pTemplate="item" class="padding">
            <div class="app" (click)="showCategory(app._id)">
                <div class="image">
                    <img src="{{app.Service_image}}" [alt]="app.CategoryOfService" class="product-image" />
                </div>
                <div class="name">
                    {{app.CategoryOfService}}
                </div>
                <div class="description">
                    {{app.Service_description}}
                </div>
            </div>
        </ng-template>
    
</p-carousel>

<a href="https://wa.me/919628853634" class="whatsapp_float" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>