<p-toast></p-toast>
<div class="footer">
    <div class="table">
        <div class="grid">
            <ul class="col-4" *ngIf="contact[0]">
                <li class="head">Contact</li>
                <li class="in"><p>Address :</p>{{contact[0].Address}}</li>
                <li class="in"><p>Phone Number :</p>{{contact[0].Phone_no}}</li>
                <li class="in"><p>Email ID :</p>{{contact[0].emailId}}</li>
                <li class="in"><p>WORKING DAYS/HOURS:<br>
                    Mon - Sun / 9:00 AM - 8:00 PM</p></li>
                

                    <p class="in1" *ngIf="contact[0].instaId">
                        <a [href]="contact[0].instaId">
                            Instagram:
                            <img src= "assets/photos/insta.png" width="18rem">
                        </a>
                    </p>
                    <!-- <hr width = "25%"> -->
                    <p class="in1" *ngIf="contact[0].facebook">
                        <a [href]="contact[0].facebook">
                            Facebook :
                            <i  class="pi pi-facebook" style="font-size: 1rem"></i>
                        </a>
                    </p>
                    <!-- <hr width = "25%"> -->
                    <p class="in1" *ngIf="contact[0].youtube">
                        <a [href]="contact[0].youtube">
                            Youtube :
                            <i  class="pi pi-youtube" style="font-size: 1rem"></i>
                        </a>
                    </p>
                    <!-- <hr width = "25%"> -->
                    <p class="in1"  *ngIf="contact[0].twitter">
                        <a [href]="contact[0].twitter">
                            Twitter :
                            <i class="pi pi-twitter" style="font-size: 1rem"></i>
                        </a>
                    </p>
                
            </ul>
            <br>

            <ul class="col-4">
                <li class="head">Pages</li>
                <li class="in" routerLink="company">Company</li>
                <li class="in" routerLink="blog">Blog</li>
                <li class="in" routerLink="offer">Offers</li>
            </ul>
                
            <ul class="col-4  hide">
                <li class="head"> Subscribe</li>
                <div class="box">
                    <h5>Subscribe and get notified of our new services</h5>
                        <div class="fle">
                            <input type="text" pInputText [(ngModel)]="emailId" id="in"> 
                            <button pButton pRipple type="button" label="Go" class="p-button-info btn1" (click)="saveEmail()"></button>
                        </div>
                        <p id="tag" class="label">We’ll never share your email address</p>
                </div>
            </ul>
        </div>
    </div>
    <hr id="line">
    <div class="section">
        <div class="section1">
            <p>© 2022 UandI. By <span class="in">Yash Verma</span> </p>
        </div>
    </div>
</div>
