<div class="footer">
    <div class="table">
        <div class="grid">
            <ul class="col-4">
                <li class="head">Contact</li>
                <li class="in">Address</li>
                <li class="in">phone.no</li>
                <li class="in">Landing 3</li>
                <!-- <li class="in">Landing 4</li>
                <li class="in">Landing 5</li>
                <li class="in">Landing 6</li> -->
            </ul>

            <ul class="col-4">
                <li class="head">Pages</li>
                <li class="in" routerLink="company">Company</li>
                <li class="in" routerLink="blog">Blog</li>
                <li class="in" routerLink="offer">Offers</li>
                <!-- <li class="in">Documentation</li>
                <li class="in">Carriers</li>
                <li class="in">Case Studies</li>
                <li class="in">Pricing</li> -->
            </ul>
                
            <ul class="col-4  hide">
                <li class="head"> Subscribe</li>
                <div class="box">
                    <h5>Subscribe and get notified of our new services</h5>
                        <div class="fle">
                            <input type="text" pInputText [(ngModel)]="emailId" id="in"> 
                            <button pButton pRipple type="button" label="Go" class="p-button-info btn1"></button>
                        </div>
                        <p id="tag" class="label">We’ll never share your email address</p>
                </div>
            </ul>
        </div>
    </div>
    <hr id="line">
    <div class="section">
        <div class="section1">
            <p>© 2022 UandI. By <span class="in">AdeshVerma</span> </p>
        </div>
        <div class="section2">
            <p class="in1">Icons</p>
        </div>
    </div>
</div>
