<p-toast></p-toast>
<div class="con" *ngIf="data">
    <p-card header={{data.Service_name}} subheader="{{data.Service_rate| currency:'INR'}}" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
            <img alt={{data.Service_name}} src={{data.Service_image}}>
        </ng-template>
        <p>{{data.Service_description}}</p>
        <ng-template pTemplate="footer">
            <p-button label="Add To Cart" icon="pi pi-shopping-cart" (click)="addtoCart(data._id)"></p-button>
            <p-button label="Add To Wish List" icon="pi pi-star" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}" (click)="wishlist(data._id)"></p-button>
        </ng-template>
    </p-card>
</div>