<p-toast></p-toast>
<div class="user p-card" *ngIf="data; else elseblock">
    <div class="det" *ngIf="mode">
        <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-outlined" (click)="editmode()"></button>
        <button pButton pRipple type="button" icon="pi pi-sign-out" class="p-button-rounded p-button-outlined ml-2" (click)="signOut()"></button>
        <div class="personal-details">
            <h3 class="pd">Personal Details</h3>
            <br><br>
            <div class="grid de">
                <p-avatar [label]="label" styleClass="mr-2" size="large" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}" shape="circle"></p-avatar>
                &nbsp;&nbsp;
                <div class="col-4 det">Name  : <span id="data">{{data.Name}}</span></div>
                <div class="col-4 det">Email : <span id="data">{{data.Email}}</span></div>
                <div class="col-4 det">Phone : <span id="data">{{data.Phone_no}}</span></div>
    
                <div class="col-4 det">Gender  :<span id="data">{{data.Gender}}</span></div>
                <div class="col-4 det">date    :<span id="data">{{data.date | date}}</span></div>
                <div class="col-4 det">Address :<span id="data">{{data.Address}}</span></div>
                <div class="col-4 det">Uandi Coins :<span id="data">{{data.Loyality_points}}
                    <img src="assets/photos/coin.png" alt="" srcset="">
                </span></div>
            </div>
        </div>
        <div class="Order-details">
            <div>
                <h4 *ngIf="orders.length===0; else elseblocks" class="pd"> No Order History</h4>
            </div>
            <ng-template #elseblocks>
                <h3 class="pd">Order History</h3>
                <p-table [value]="orders" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Order Status</th>
                            <th>Services Ordered</th>
                            <th>Total</th>
                            <th>Payment Status</th>
                            <th>Mode Of Payment</th>
                            <th>Scheduled on</th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-order>
                        <tr>
                            <td>{{order.Order_Status}}</td>
                            <td>
                                <p *ngFor="let s of order.Service">{{s.Services.Service_name}}</p>
                            </td>
                            <td>{{order.total_amount/100 | currency:'INR'}}</td>
                            <td>{{order.isPaid}}</td>
                            <td *ngIf="order.RazorpayOrder_id">Online</td>
                            <td *ngIf="!order.RazorpayOrder_id">Offline</td>
                            <td>{{order.Scheduled_date | date:'mediumDate'}}</td>
                            <td *ngIf="order.isPaid && order.Order_Status==='Completed' || order.Order_Status==='Cancel';else elseblock1">
                                <button pButton pRipple type="button" label="Cancel" class="p-button-danger" disabled="true"></button>
                            </td>
                            <ng-template #elseblock1>
                                <td>
                                    <button pButton pRipple type="button" label="Cancel" class="p-button-danger" (click)="cancelOrder()"></button>
                                </td>
                                <p-dialog header="Cancel Order" [(visible)]="displayResponsive" [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
                                    <h3>Please provide the reason</h3>

                                    <div class="field-radiobutton">
                                        <p-radioButton name="city" value="Changed the mind" [(ngModel)]="reason" inputId="city1"></p-radioButton>
                                        <label for="city1">Changed the mind</label>
                                    </div>
                                    <div class="field-radiobutton">
                                        <p-radioButton name="city" value="didn't like the service" [(ngModel)]="reason" inputId="city2"></p-radioButton>
                                        <label for="city2">didn't like the service</label>
                                    </div>
                                    <div class="field-radiobutton">
                                        <p-radioButton name="city" value="Taking to much time" [(ngModel)]="reason" inputId="city3"></p-radioButton>
                                        <label for="city3">Taking to much time</label>
                                    </div>
                                    <div class="field-radiobutton">
                                        <p-radioButton name="city" value="others" [(ngModel)]="reason" inputId="city4"></p-radioButton>
                                        <label for="city4">others</label>
                                    </div>
                                    
                                    <ng-template pTemplate="footer">
                                        <p-button (click)="displayResponsive=false" label="No" styleClass="p-button-text"></p-button>
                                        <p-button (click)="displayResponsive=false" label="Yes" styleClass="p-button-text" (click)="cancel_order(order._id)"></p-button>
                                    </ng-template>
                                </p-dialog>
                            </ng-template>
                        </tr>
                    </ng-template>
                </p-table>
                <h2 class="pd">total purchase of services are {{total/100| currency:'INR'}}</h2> 
            </ng-template>
        </div>
        <div class="wishlist">
            <div class="caseWishlistempty">
                <h4 *ngIf="wish.length===0" class="pd"> Your Wishlist is empty</h4>
                <ul *ngIf="wish.length>0">
                    <br>
                    <br>
                    <h4 class="pd1">Wishlist</h4>
                    <p-table [value]="wish" responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Name</th>
                                <th>Rate</th>
                                <th>Description</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-order>
                            <tr>
                                <td>{{order.Service_name}}</td>
                                <td>{{order.Service_rate}}</td>
                                <td>{{order.Service_description}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </ul>
            </div>
        </div>
    </div>

    <div class="form" *ngIf="!mode">
        <button pButton pRipple type="button" icon="pi pi-arrow-left" class="p-button-rounded p-button-outlined" (click)="editmode()"></button>
        <br>
        <br>
        <br>
        <form action="" [formGroup]="forms1">
            <div class="inputs grid">

                <span class="p-float-label"  >
                    <input id="float-input2" type="text" pInputText formControlName="Name"> 
                    <label for="float-input2">Name</label>
                </span>

                <span class="p-float-label"  >
                    <input id="float-input3" type="text" pInputText formControlName="Phone_no"> 
                    <label for="float-input3">Phone Number</label>
                </span>

                <span class="p-float-label col-12">
                    <textarea id="float-input4" rows="5" cols="30" pInputTextarea [autoResize]="true" formControlName="Address"></textarea>
                    <label for="float-input4" id="add">Address</label>
                </span>

                <span class="p-float-label" >
                    <!-- <input id="float-input5" type="text" pInputText formControlName="Gender"> xsxsd -->
                    <p-dropdown [options]="genders" formControlName="Gender"  optionLabel="name"></p-dropdown>
                    <label for="float-input5">Gender</label>
                </span>

            </div>
            <p-button label="Submit" (click)="submit()"></p-button>
        </form>
        
    </div>
</div>
<ng-template #elseblock>
    <div class="spinner">
        <p-progressSpinner></p-progressSpinner>
    </div>
</ng-template>